# Main PostgreSQL database configuration
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_URL=

# Test PostgreSQL database configuration
TEST_POSTGRES_USER=
TEST_POSTGRES_PASSWORD=
TEST_POSTGRES_DB=
TEST_POSTGRES_URL=

# Storage config
STORAGE_LOCATION=
STORAGE_FILE_PATH=
STORAGE_ALLOWED_FILE_SIZE=

# Kafka client
KAFKA_BOOTSTRAP_SERVERS=
KAFKA_CLIENT_ID=
KAFKA_ACKS=
KAFKA_REQUEST_TIMEOUT_MS=
KAFKA_RETRY_BACKOFF_MS=

# Kafka broker
KAFKA_NODE_ID=
KAFKA_PROCESS_ROLES=
KAFKA_CONTROLLER_QUORUM_VOTERS=

KAFKA_LISTENERS=
KAFKA_ADVERTISED_LISTENERS=

KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=
KAFKA_CONTROLLER_LISTENER_NAMES=

KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=
KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=
KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=
KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS=

# Deployment configuration
PORT=
ENVIRONMENT=

# Docker config
POSTGRES_DATA_PATH=
KAFKA_DATA_PATH=