# Main PostgreSQL database configuration
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_URL=
POSTGRES_DATA_PATH=

# Test PostgreSQL database configuration
TEST_POSTGRES_USER=
TEST_POSTGRES_PASSWORD=
TEST_POSTGRES_DB=
TEST_POSTGRES_URL=

# Deployment configuration
PORT=

FILE_STORAGE=
ENVIRONMENT=
