# Main PostgreSQL database configuration
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_URL=

# Test PostgreSQL database configuration
TEST_POSTGRES_USER=
TEST_POSTGRES_PASSWORD=
TEST_POSTGRES_DB=
TEST_POSTGRES_URL=

# Storage config
STORAGE_LOCATION=
STORAGE_FILE_PATH=
STORAGE_ALLOWED_FILE_SIZE=

# Deployment configuration
PORT=
ENVIRONMENT=
POSTGRES_DATA_PATH=
